---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=40487%20Fox%20Run%20Drive,%20Gonzales,%20LA,%20United%20States&key=<HIDDEN
      API KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "40487",
                       "short_name" : "40487",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Fox Run Drive",
                       "short_name" : "Fox Run Dr",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Gonzales",
                       "short_name" : "Gonzales",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name[...]
[...]
