<% if user_signed_in? %>
    <div class='small-6 medium-6 columns'>
      <%= link_to('PROFILE', edit_user_registration_path) %>
    </div>
<% else %>
  <div class='small-6 medium-6 columns'>
      <%= link_to('SIGN UP', new_user_registration_path)  %>
  </div>
<% end %>
