/* Coolors Exported Palette - coolors.co/11151c-212d40-364156-7d4e57-d66853 */
/* HSL */
/* line 4, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
html, body {
  width: 100%;
}

/* line 8, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
body {
  margin: 0px;
  padding: 0px;
  background-color: #F7F4ED;
  font-family: 'Poppins', sans-serif;
  color: #222A2E;
}

/* line 16, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.form-section {
  background-color: #DEDACF;
  margin: inherit;
}

/* line 21, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
div.devise-container > div.end.columns.small-12.medium-6.devise-form {
  float: none;
  margin: auto;
}

/* line 26, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
div.post-section div.small-12.form-section {
  margin: 10px auto;
  float: none;
}

/* line 31, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
ul.hmenu {
  list-style: none;
  padding: 0;
  margin: 0 1.25em;
  height: 100%;
}

/* line 38, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.columns.post-collection {
  margin-top: 10px;
}

/* line 42, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
ul.hmenu div {
  display: inline;
  margin: 10px;
  height: 100%;
}

/* line 48, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.columns.post {
  margin-top: 10px;
}

/* line 52, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.post-collection ul {
  list-style: none;
}

/* line 56, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.rails-nav-bar {
  background-color: #1B8C8E !important;
  margin: 0;
  padding-top: 15px;
  height: auto;
  min-height: 80px;
}

/* line 64, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.rails-nav-bar a {
  color: #efefef;
}

/* line 68, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.rails-nav-bar .columns {
  margin: initial;
  width: auto;
}

/* line 74, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
input {
  width: 100%;
}

/* line 78, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
textarea.input-group-field {
  width: 100%;
  max-height: 10%;
}

/* line 83, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
img {
  display: block;
}

/* line 87, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
span.edit h5 {
  display: inline;
}

/* line 91, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.post-body {
  margin: 20px;
  font-style: italic;
}

/* line 96, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.button.destroy {
  background-color: #d66853;
}

/* line 100, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.button.destroy:hover {
  background-color: #894335;
}

/* line 104, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.team_members {
  max-height: 200px;
  overflow: scroll;
  border: 1px solid #DEDACF;
  list-style: none;
}

/* line 111, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.nav-links {
  width: 98%;
  margin: auto;
  text-align: center;
}

/* line 117, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.nav-links ul {
  display: inline;
  list-style: none;
  margin-bottom: 20px;
  margin: auto;
}

/* line 124, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

/* line 129, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
input[type='checkbox'] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

/* line 140, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.callout {
  border: none;
}

/* line 144, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.fa-pencil-square-o:hover {
  color: #d66853;
}

/* line 148, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.wall {
  background-image: url(/assets/wallpic-7ad8332c481d792f5d0957dd586633b960a567c7a424cd9fe31801a4e3322204.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 30px;
}

/* line 160, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.nav-links li {
  display: inline;
  margin: 10px;
  font-size: .85rem;
}

@media screen and (min-width: 550px) {
  /* line 167, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
  .devise {
    padding-top: 12px;
  }
}
@media screen and (min-width: 575px) {
  /* line 173, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
  .map-page {
    font-size: 32px;
  }

  /* line 177, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
  .wall {
    padding-top: 40px;
  }
}
@media screen and (min-width: 650px) {
  /* line 183, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
  .nav-links li {
    margin: 50px;
    font-size: 1rem;
  }
}
@media screen and (min-width: 825px) {
  /* line 191, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
  .nav-links {
    font-size: 1.25em;
  }

  /* line 195, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
  .rails-nav-bar {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 625px) {
  /* line 201, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
  .wall {
    height: 400px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 45px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 900px) {
  /* line 213, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
  .wall {
    background-image: url(/assets/wallpic-7ad8332c481d792f5d0957dd586633b960a567c7a424cd9fe31801a4e3322204.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    font-size: 54px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 45px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1275px) {
  /* line 228, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
  .wall {
    background-image: url(/assets/wallpic-7ad8332c481d792f5d0957dd586633b960a567c7a424cd9fe31801a4e3322204.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    font-size: 64px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 2000px) {
  /* line 243, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
  .wall {
    background-image: url(/assets/wallpic-7ad8332c481d792f5d0957dd586633b960a567c7a424cd9fe31801a4e3322204.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    font-size: 72px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 250px;
    margin-bottom: 70px;
  }
}
/* line 257, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.wallText {
  width: 80%;
  margin: auto;
}

/* line 263, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
a {
  color: #1B8C8E;
}

/* line 267, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
a:hover {
  color: #d66853;
}

/* line 271, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
#app {
  height: 100%;
}

/* line 275, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
#app > div {
  height: 100%;
}

/* line 279, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
div.map-page {
  height: 100%;
}

/* line 283, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
#map {
  width: 80%;
  height: 60%;
  margin: 50px auto 200px auto;
}

/* line 289, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
#map div {
  height: auto;
}

/* line 293, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.input-group {
  display: block;
}

/* line 297, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.logo {
  width: 275px;
  display: inline;
  color: white;
}

/* line 303, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.input-group-button {
  display: block;
  margin: 10px auto;
  width: 100%;
}

/* line 309, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.columns {
  margin: 50px auto 0px auto;
}

/* line 313, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.button {
  margin: 10px auto;
  width: 10%;
  min-width: 115px;
  background-color: #1B8C8E;
}

/* line 320, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
input.button {
  min-width: 115px;
  width: 10%;
  height: auto;
  margin: 10px auto;
  background-color: #1B8C8E;
}

/* line 328, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.input.button:active {
  background-color: #146668;
}

/* line 332, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.button:hover {
  background-color: #146668;
}

/* line 336, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.button:active {
  background-color: #146668;
}

/* line 340, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.infowindow a {
  color: #1B8C8E;
}

/* line 344, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.infowindow a:hover {
  color: #d66853;
}

/* line 348, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.form {
  margin: auto;
}

/* line 352, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.hidden {
  display: none;
}

/* line 356, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.map-page {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* line 362, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* line 366, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
::-webkit-scrollbar-corner {
  background-color: #F7F4ED;
}

/* line 370, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F7F4ED;
}

/* line 376, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #1B8C8E;
}

/* line 382, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.react-nav-bar {
  background-color: #DEDACF;
  height: auto;
  min-height: 50px;
  padding-top: 10px;
  border-bottom: 1px solid #7a7771;
}

/* line 390, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.react-nav-bar a {
  color: #222A2E;
}

/* line 394, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.react-nav-bar a:hover {
  color: #d66853;
}

/* line 398, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.bottom {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 50%;
  margin-top: 1px solid #DEDACF;
}
