/* Coolors Exported Palette - coolors.co/11151c-212d40-364156-7d4e57-d66853 */
/* HSL */
/* line 4, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
body {
  background-color: #F7F4ED;
  font-family: 'Gudea', sans-serif;
}

/* line 9, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
ul.hmenu {
  list-style: none;
  padding: 0;
  margin: 0 1.25em;
  height: 100%;
}

/* line 16, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
ul.hmenu div {
  display: inline;
  margin: 10px;
  height: 100%;
}

/* line 22, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.columns.post {
  margin-top: 10px;
}

/* line 26, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.post-collection ul {
  list-style: none;
}

/* line 30, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.rails-nav-bar {
  background-color: #1B8C8E !important;
  margin: 0;
  padding: 10px auto;
  height: auto;
  min-height: 80px;
}

/* line 38, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.rails-nav-bar a {
  color: #efefef;
}

/* line 42, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.rails-nav-bar .columns {
  margin: initial;
  width: auto;
}

/* line 48, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
input {
  width: 100%;
}

/* line 52, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
textarea.input-group-field {
  width: 100%;
  max-height: 10%;
}

/* line 57, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
img {
  display: block;
}

/* line 61, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
span.edit h5 {
  display: inline;
}

/* line 65, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.post-body {
  margin: 20px;
  font-style: italic;
}

/* line 70, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.button.destroy {
  background-color: #d66853;
}

/* line 74, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.button.destroy:hover {
  background-color: #894335;
}

/* line 78, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.team_members {
  max-height: 200px;
  overflow: scroll;
  border: 1px solid #DEDACF;
  list-style: none;
}

/* line 85, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.nav-links {
  display: inline;
  list-style: none;
  margin-bottom: 20px;
}

/* line 91, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

/* line 96, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
input[type='checkbox'] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

/* line 107, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.fa-pencil-square-o:hover {
  color: #d66853;
}

/* line 111, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.nav-links li {
  display: inline;
  margin: 10px;
}

/* line 116, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
a {
  color: #1B8C8E;
}

/* line 120, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
a:hover {
  color: #d66853;
}

/* line 124, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
#app {
  height: 100%;
}

/* line 128, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
#app > div {
  height: 100%;
}

/* line 132, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
div.map-page {
  height: 100%;
}

/* line 136, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
#map {
  width: 80%;
  height: 60%;
  margin: 50px auto;
}

/* line 142, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
#map div {
  height: auto;
}

/* line 146, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.input-group {
  display: block;
}

/* line 150, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.logo {
  width: 275px;
  display: inline;
  color: white;
}

/* line 156, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.input-group-button {
  display: block;
  margin: 10px auto;
  width: 100%;
}

/* line 162, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.columns {
  margin: 50px auto 0px auto;
}

/* line 166, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.button {
  margin: 10px auto;
  width: 10%;
  min-width: 115px;
  background-color: #1B8C8E;
}

/* line 173, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
input.button {
  min-width: 115px;
  width: 10%;
  height: auto;
  margin: 10px auto;
  background-color: #1B8C8E;
}

/* line 181, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.input.button:active {
  background-color: #146668;
}

/* line 185, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.button:hover {
  background-color: #146668;
}

/* line 189, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.button:active {
  background-color: #146668;
}

/* line 193, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.infowindow a {
  color: #cyan;
}

/* line 197, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.infowindow a:hover {
  color: #d66853;
}

/* line 201, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.form {
  margin: auto;
}

/* line 205, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.hidden {
  display: none;
}

/* line 209, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
::-webkit-scrollbar {
  background-color: #F7F4ED;
}

/* line 213, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
::-webkit-scrollbar-corner {
  background-color: #F7F4ED;
}

/* line 217, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.react-nav-bar {
  background-color: #DEDACF;
  height: auto;
  min-height: 50px;
}

/* line 223, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.react-nav-bar a {
  color: #222A2E;
}

/* line 227, /Users/Frank/Dropbox/Launch/volunteer-meetup/app/assets/stylesheets/application.scss */
.react-nav-bar a:hover {
  color: #d66853;
}
