// @import "*";
ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
}

input {
  // width: 100%;
}

#app {
  height: 100%;
}

#app div {
  height: 100%;
}

#map {
  width: 80%;
  height: 80%;
  margin: auto;
}
