// @import "*";
ul.hmenu {
  list-style: none;
  padding: 0;
  margin: 10px 1.25em;
}

ul.hmenu li {
  display: inline;
  margin: 10px;
}

input {
  width: 100%;
}

textarea.input-group-field{
  width: 100%;
  max-height: 10%;
}

img {
  display: block;
}

.nav-links {
  display: inline;
  list-style: none;
  margin-bottom: 20px;
}

.nav-links li {
  display: inline;
  margin: 10px;
}

#app {
  height: 100%;
}

#app>div {
  height: 100%;
}

#app>div>div{
  height: 100%;
}

#map {
  width: 80%;
  height: 60%;
  margin: 50px auto;
}

.button {
  display: block;
  margin: 10px auto;
}
#map div {
  height: auto;
}

.input-group{
  display: block;
}

#volunteer-form .input-group {
  display: inline-block;
}

.form {
  margin: auto;
}

.hidden {
  display: none;
}
