// @import "*";
@import 'palette';

html, body {
  width: 100%;
}

body {
  font-size: 
  margin: 0px;
  padding: 0px;
  background-color: $off-white;
  font-family: 'Poppins', sans-serif;
  color: $green;
}

.toast-info {
  background-color: $jelly-bean;
}

.form-section {
  background-color: $gray;
  margin: inherit;
}

div.form-section div.input-group {
  margin-top: 0;
}

div.devise-container > div.end.columns.small-12.medium-6.devise-form {
  float: none;
  margin: auto;
}

div.post-section div.small-12.form-section {
  margin: 10px auto;
  float:none;
}

ul.hmenu {
  list-style: none;
  padding: 0;
  margin: 0 1.25em;
  height: 100%;
}

.columns.post-collection {
  margin-top: 10px;
}

ul.hmenu div {
  display: inline;
  margin: 10px;
  height: 100%
}

.columns.post {
  margin-top: 10px;
}

.post-collection ul {
  list-style: none;
}

.rails-nav-bar {
  background-color: $cyan !important;
  margin: 0;
  padding-top: 15px;
  height: auto;
  min-height: 80px;
}

.rails-nav-bar a {
  color: $white;
}

.rails-nav-bar .columns {
  margin: initial;
  width: auto;
}


input {
  width: 100%;
}

textarea.input-group-field{
  width: 100%;
  max-height: 10%;
}

img {
  display: block;
}

span.edit h5 {
  display: inline;
}

.post-body {
  margin: 20px;
  font-style: italic;
}

.button.destroy {
  background-color: $jelly-bean;
}

.button.destroy:hover {
  background-color: $jelly-bean-hover;
}

.team_members {
  max-height: 200px;
  overflow: scroll;
  border: 1px solid $gray;
  list-style: none;
}

.nav-links{
  width: 98%;
  margin: auto;
  text-align: center;
}

.nav-links ul {
  display: inline;
  list-style: none;
  margin-bottom: 20px;
  margin: auto;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input[type='checkbox'] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.callout {
  border: none;
}

.fa-pencil-square-o:hover {
  color: $jelly-bean;
}

.wall {
  background-image: image-url('wallpic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 30px;
}

.nav-links li {
  display: inline;
  margin: 10px;
  font-size: .85rem;
}

@media screen and (min-width: 550px) {
  .devise {
    padding-top: 12px;
  }
}

@media screen and (min-width: 575px){
  .map-page{
    font-size: 32px;
  }

  .wall{
    padding-top: 40px;
  }
}

@media screen and (min-width: 650px) {
  .nav-links li {
    margin: 50px;
    font-size: 1rem;
  }
}


@media screen and (min-width: 825px){
  .nav-links {
    font-size: 1.25em;
  }

  .rails-nav-bar {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 625px){
  .wall {
    height: 400px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 45px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 900px){
  .wall {
    background-image: image-url('wallpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    font-size: 54px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 45px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1275px){
  .wall {
    background-image: image-url('wallpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    font-size: 64px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 2000px){
  .wall {
    background-image: image-url('wallpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    font-size: 72px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 250px;
    margin-bottom: 70px;
  }
}

.wallText {
  width: 80%;
  margin: auto;
}


a {
  color: $cyan;
}

a:hover {
  color: $jelly-bean;
}

#app {
  height: 100%;
}

#app>div {
  height: 100%;
}

div.map-page{
  height: 100%;
}

#map {
  width: 80%;
  height: 60%;
  margin: 50px auto 150px auto;
}

#map div {
  height: auto;
}

.input-group{
  display: block;
}

.logo {
  width: 275px;
  display: inline;
  color: white;
}

.input-group-button{
  display: block;
  margin: 10px auto;
  width: 100%;
}

.columns {
  margin: 50px auto 0px auto;
}

.button {
  margin: 10px auto;
  width: 10%;
  min-width: 115px;
  background-color: $cyan;
}

input.button{
  min-width: 115px;
  width: 10%;
  height: auto;
  margin: 10px auto;
  background-color: $cyan;
}

.input.button:active{
  background-color: $cyan-hover;
}

.button:hover {
  background-color: $cyan-hover;
}

.button:active{
  background-color: $cyan-hover;
}

.infowindow a {
  color: $cyan;
}

.infowindow a:hover {
  color: $jelly-bean;
}

.form {
  margin: auto;
}

.hidden {
  display: none;
}

.map-page{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-corner {
  background-color: $off-white;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: $off-white;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: $cyan;
}

.react-nav-bar {
  background-color: $gray;
  height: auto;
  min-height: 50px;
  padding-top: 10px;
  border-bottom: 1px solid #7a7771;
}

.react-nav-bar a {
  color: $green;
}

.react-nav-bar a:hover{
  color: $jelly-bean;
}

.bottom {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 50%;
  margin-top: 1px solid $gray;
}
