/* Coolors Exported Palette - coolors.co/11151c-212d40-364156-7d4e57-d66853 */

/* HSL */
$cyan: #1B8C8E;
$cyan-hover: #146668;
$gray: #DEDACF;
$green: #222A2E;
$off-white: #F7F4ED;
$jelly-bean: #d66853;
$jelly-bean-hover: #894335;
$white: #efefef;
