<div id='app'></div>
<form>
  <div class='small-12 medium-6 large-6 columns'>
    <div class='small-12 medium-6 large-6 columns'>
      <input id="sites-text" type="text" placeholder="Enter your site!">
    </div>
    <input id="site" type="button" value="Submit">
  </div>
</form>

<script async defer
      src=
      <%= "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_MAPS_KEY']}&v=3&callback=initMap" %>>
</script>
